@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";

@theme {
      --color-primary: #2B85FF;
      --color-secondary: #EF863E;
}

@layer base {
      body {
            font-family: 'Lora', serif;
            background-color: #d0d9dfcc;
            overflow-x: hidden;
      }

      .add-edit-model::-webkit-scrollbar {
            display: none;
      }

      .add-edit-model::-webkit-scrollbar-track {
            display: none;
      }
}

@layer components {

      .container {
            @apply mx-auto md:px-28 px-4;
      }

      .navbar {
            @apply bg-white flex items-center justify-between md:px-6 px-1 py-2 w-full shadow-inner;
      }

      .nav-title {
            @apply text-2xl font-bold text-gray-800 py-2 flex items-center gap-2 md:flex-row flex-col;
      }



      .login-container {
            @apply flex items-center justify-center mt-28;
      }

      .login-component {
            @apply bg-white lg:py-10 lg:px-7 px-3 py-5 rounded-lg border border-gray-300 w-96;
      }

      .login-title {
            @apply text-2xl mb-7;
      }



      .profile-info {
            @apply w-12 h-12 rounded-full bg-slate-100 text-slate-800 text-lg font-bold flex items-center justify-center;
      }

      .search-bar {
            @apply w-full bg-slate-200 flex items-center rounded-md px-4;
      }

      .search-input {
            @apply w-full bg-transparent text-xs py-[11px] outline-none;
      }

      .search-icon {
            @apply text-lg text-slate-400 cursor-pointer hover:text-slate-900;
      }

      .clear-icon {
            @apply mr-3 text-xl text-slate-400 cursor-pointer hover:text-slate-900;
      }

      .input-box {
            @apply w-full bg-transparent text-sm border-[1.5px] border-gray-300 px-5 py-3 rounded mb-4 outline-none;
      }

      .btn-primary {
            @apply w-full text-sm bg-primary text-white p-2 my-1 rounded hover:bg-blue-600 cursor-pointer;
      }

      .icon-btn {
            @apply text-xl text-slate-400 cursor-pointer hover:text-primary;
      }

      .add-note-btn {
            @apply w-16 h-16 rounded-xl bg-primary hover:bg-blue-600 inline-flex items-center justify-center cursor-pointer absolute right-10 bottom-10;
      }


      .input-label {
            @apply text-[1rem] text-slate-400;
      }



      .card {
            @apply border-slate-600 rounded p-4 bg-white hover:shadow-xl transition-all duration-300 ease-in-out;
      }

      /* @media (max-width: 640px) {
            .navbar {
                  @apply flex-col items-start;
            }
      
            .search-bar {
                  @apply w-full px-2;
            }
      } */
}